
html {
    box-sizing: border-box;
}
body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: grey;
}
.Calculator{
    background: aliceblue;
    width: 400px;
    border-radius: 12px;
    box-shadow: 0 30px 15px -5px rgba(0, 0, 0, 0.5);
}
.Calculator-display{
    background: rgb(232, 241, 241);
    color: black;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 10px 10px 0 0;
}
.Calculator-display h1{
    margin: 0;
    padding: 25px;
    font-size: 50px;
    font-family: 'lucida console', sans-serif;
    font-weight: 100;
    overflow-x: auto;
}
/* Buttons */
.calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
}
button {
    min-height: 50px;
    font-size: 20px;
    font-weight: 100;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: rgb(150, 153, 153);
}
button:hover {
    filter: brightness(150%);
}
button:active{
    transform: translateY(1px);
}
button:focus {
    outline: none;
}
.equal-sign {
    grid-column: -2;
    grid-row: 2/ span 4;
}
.operator{
    background: orangered;
    color: wheat;
    font-size: 30px;
}
.clear{
    background: red;
    color: antiquewhite;
}
.clear:hover{
    filter: brightness(80%);
}
.equal-sign {
    grid-column: -1;
    grid-row: 2/ span 4;
    background: green;
    font-size: 60px;
}

/* media query: Large Smarthphone (Vertical) */
@media screen And (max-width: 600px) {
    .Calculator {
        width: 95%;
    }
}